ul {
	list-style: none;
}
body{
	margin: 0;
	padding:0;
}
header{
	background: black;
	color:white;
	margin:0;
	padding:20px;
	padding-left:10%;

}


#container{
	background:lightgray;
	color:black;
	margin:auto;
	width:80%;
	padding:20px;
}




#one .item{
	height:100px;
	width: 100px;
	margin:20px;
	text-align: center;
	background-color:red;
}

#one .item:hover .one{
	transition:2s;
	transform:rotate(40deg);
	color:white;
}

#one .item:hover .two {
	transition:2s;
	transform:scale(1.5);
	color:yellow;
}

#one .item:hover .three {
	transition:2s;
	transform:rotateX(180deg);
	color:white;
}

#one .item:hover .four {
	transition:2s;
	color:black;
	transform:rotatey(180deg);
	color:white;
}





#two{
	margin-bottom:230px;
}

#two li{
	color:white;
}

#two .one{
	height:200px;
	width: 200px;
	text-align: center;
	background-color:blue;
	position:absolute;
	z-index: 5;
}

#two .two {
	height:200px;
	width: 200px;
	text-align: center;
	background-color:red;
	position:absolute;
}

#two .three {
	height:200px;
	width: 200px;
	text-align: center;
	background-color:yellow;
	position:absolute;
}

#two .four {
	height:200px;
	width: 200px;
	text-align: center;
	background-color:lime;
	position:absolute;
}


#two .item:hover .two {
	transform:translate(50px,-50px);
	transition: 2s;
	z-index: 2;

}

#two .item:hover .three {
	transform:rotate(45deg);
	transition: 2s;
	z-index: 3;

}

#two .item:hover .four {
	transform:scale(1.25);
	z-index: 1;
	transition: 2s;
}
